# .env.example
# Copy this file to .env and fill in your API keys. Comment out any keys you do not wish to use.
ANTHROPIC_API_KEY=Your_API_Key_Here
OPENAI_API_KEY=Your_API_Key_Here
AGENTOPS_API_KEY=Your_API_Key_Here
GEMINI_API_KEY=Your_API_Key_Here
GROQ_API_KEY=Your_API_Key_Here
CEREBRAS_API_KEY=Your_API_Key_Here

