# # Auto detect text files and perform LF normalization
# * text=auto

# Default normalization, store LF in repo, checkout LF locally
* text=auto eol=lf

# Keep CRLF where required (Windows scripts)
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.pdf binary
*.exe binary
*.zip binary
*.xlsx binary
*.docx binary
*.pptx binary
